.custom-navbar{
	background-color: #9f0000;
}
.ms-6{
	margin-left: 4rem !important;
}
.site-logo{
	border: 3px solid black;
}
.gun-table{
	text-align: left;
}
.wide-button{
	width: 500px;
}
.results-box{
	text-align: left;
	border: 2px solid black;
}
.additional-information{
	text-decoration: underline dotted;
	cursor: help;
}
.courier-text{
	font-family: 'Courier New', Courier, monospace;
}
.monospaced-text{
	font-variant-numeric: tabular-nums;
}
.px-6{
	padding-left: 6rem;
	padding-right: 6rem;
}

body {
	transform: scale(0.8);
	transform-origin: top left;
	width: 125%;
}

/*
html {
	font-size: 90%;
}
.site-container {
	max-width: 1600px;
}
*/